@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    font-family: "Red Hat Text", sans-serif;
}

body {
    height: 100%;
    background: url("../../images/bg-stars.svg") top/100% 80% no-repeat, url("../../images/pattern-hills.svg") bottom/100% 20% no-repeat, linear-gradient(to bottom, #1e1e28, #251d2c);
    background-repeat: no-repeat;
}

body .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .container .title {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

body .container .countdown-clock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60em;
}

body .container .countdown-clock .countdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .container .countdown-clock .countdown .countdown-card, body .container .countdown-clock .countdown .flip-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

body .container .countdown-clock .countdown .countdown-card .card-top, body .container .countdown-clock .countdown .flip-card .card-top {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #2c2c44;
    transform-origin: bottom;
    overflow: hidden;
    position: relative;
  }

body .container .countdown-clock .countdown .countdown-card .card-top::before, body .container .countdown-clock .countdown .flip-card .card-top::before {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 0;
    content: " ";
    background: #1e1e28;
}

body .container .countdown-clock .countdown .countdown-card .card-top::after, body .container .countdown-clock .countdown .flip-card .card-top::after {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 100% 0 0 0;
    content: " ";
    background: #1e1e28;
  }

body .container .countdown-clock .countdown .countdown-card .card-top span, body .container .countdown-clock .countdown .flip-card .card-top span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    line-height: 1;
    color: #d64f70;
}

body .container .countdown-clock .countdown .countdown-card .card-bottom, body .container .countdown-clock .countdown .flip-card .card-bottom {
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: #34364f;
    transform-origin: top;
    overflow: hidden;
    position: relative;
}

body .container .countdown-clock .countdown .countdown-card .card-bottom::before, body .container .countdown-clock .countdown .flip-card .card-bottom::before {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 100% 0;
    content: " ";
    background: #1e1e28;
}

body .container .countdown-clock .countdown .countdown-card .card-bottom::after, body .container .countdown-clock .countdown .flip-card .card-bottom::after {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 100%;
    content: " ";
    background: #1e1e28;
}

body .container .countdown-clock .countdown .countdown-card .card-bottom span, body .container .countdown-clock .countdown .flip-card .card-bottom span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    color: #ff5c89;
}

body .container .countdown-clock .countdown .flip-card {
    perspective: 800px;
    top: 0;
    position: absolute;
    z-index: 2;
}

body .container .countdown-clock .countdown .flip-card .flip-card-top {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #2c2c44;
    transform-origin: bottom;
    overflow: hidden;
    position: relative;
}

body .container .countdown-clock .countdown .flip-card .flip-card-top::before {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 0;
    background: #1e1e28;
}